*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    display:flex;
    justify-content: center;
    align-items: center;
}
#header{
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 60px;
}
.flex-box1{
    margin-right:15px;
}
.flex-box2{
    color: #707070;
    font: 32px 'Roboto', 'Times New Roman', 'Arial', sans-serif;
}
.MainMenu{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    height: 6px;
    padding: 0 0 0 60px;
    color: #707070;
    font: 12px/14px 'Arial';
}
.MainMenu li{
    padding: 10px 13px 0 14px;
    color: #707070;
    font: 12px/14px 'Arial';
}
.MainMenu li a{
    padding: 10px 8px;
    display: block;
    text-transform: uppercase;
    color: #707070;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}
.MainMenu li a:hover{
    background-color: #000000;
    color:#ffffff
}


.container-box{
    display: flex;
    margin-top: 20px;
    
}
.container-box p{
    font-family: 'Roboto', 'Times New Roman', 'Arial', sans-serif;
    color: #201a56;
    padding: 5px;
    text-align: justify;
    max-width: 900px;
}
.container-box h1,h2,h3,button,a {
    font-family: 'Roboto', 'Times New Roman', 'Arial', sans-serif;
    color: #201a56;
}

.flex-box3{
    margin:60px 30px 0 0;
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#7973ad17;
    height: 600px;
    text-align: left;
    font-size: 20px;
    color:white;
    font-size: 30px;
}
.privateO{
    border-bottom-style: solid;
    padding-bottom: 6px;
    font-size: 30px;
    font-weight: bold;
}
.leftSide{
    list-style: none;
    padding-top:15px;  

}
.leftSide li a{
    text-decoration: none;
    color:white;
    font-size: 25px;
    padding-top:10px;
    padding: 5px 0 0 30px;
    text-align: center;
}
.leftSideLink:hover{
    text-decoration: underline;
}

.container-box2{
   margin-bottom:200px;
   display: flex;
   flex-direction: column;
   margin-top:19px;
   border-spacing: 10px;
   margin-top: 66px;
   width: 800px;
}
div input, select, textarea{
    padding: 5px;
    margin: 5px;
}
.button{
    display: block;
    height: 40px;
    background-color:#201a56;
    border-radius: 5px;
    color:#ffffff;
    text-transform: uppercase;
    width: 370px;
    margin-top: 20px;
}

.flex_item_btn{
    display: flex;
    justify-items: center;
    align-items: center;
}
.item_btn {
    background-color:#201a56;
    border-radius: 5px;
    text-transform: uppercase;

    width: 100px;
    height: 30px;
    margin:auto;
    color: white;
    font-family: 'Roboto', 'Times New Roman', 'Arial', sans-serif;
    font-size: 16px;
    text-transform: lowercase;
    margin: 5px;
}








#footer{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 90px;
    margin: auto;
    position: relative;
    border: dashed #AFB3B5;
    border-width: 1px 1px 0;
    border-radius: 5px 5px 0 0;
}
.foot-box6{
    padding:15px 10px 0 15px;
}
.foot-box7{
    font-weight: bold;
    color: #707070;
    font: 12px/14px arial;
}
.f-border {
    top: -2px;
    left: 20px;
    right: 20px;
    position: absolute;
    height: 3px;
    background: #AFB3B5;
}
.foot-box7 p a{
    color:#000000;
    text-decoration: none;
    font-weight: bold;
}
.foot-box7 p a:hover{
    color:#707070;
}