*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {

    display:flex;
    margin: auto;
    max-width: 1000px;
    background-color: rgba(234,239,242, 0.8);
}
#header{
    display: flex;
    text-transform: uppercase;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    position: relative;
    z-index: 2;
    color: #201a56;
}
#header:before {
    content: "";
    background: url('/img/phone.jpg');
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.flex-box1{
    margin-top: 10px;
    margin-right:15px;
}
.flex-box2{
    font: 32px 'Roboto', 'Times New Roman', 'Arial', sans-serif;
    color: #201a56;
    border: none;
    box-shadow: 0 4px 10px 0 #160d60;
}
.MainMenu{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: #707070;
    font: 12px/14px 'Arial';
}
.MainMenu li{
    padding: 10px 13px 0 14px;
    color: #707070;
    font: 12px/14px 'Arial';
}
.MainMenu li a{
    padding: 10px 8px;
    display: block;
    text-transform: uppercase;
    color: #707070;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}
.MainMenu li a:hover{
    background-color: #000000;
    color:#ffffff
}
.container{
    background-color: rgba(234,239,242, 0.8);
}
form{
    height: 705px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', 'Times New Roman', 'Arial', sans-serif;
}
.title{
    font: bolder;
    color: #201a56;
    text-align: center;
    padding-bottom: 25px;
}
input {
    height: 60px;
    width: 340px;
    font-size: 15px;
    line-height: 16px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    padding-left: 25px;
}
input:focus{
    border: 1px solid #201a56;
}
.container-box {
    align-items: center;
    justify-content: center;
    background-color: rgba(22, 13, 96, 0.04);
    max-width: 600px;
    border-radius: 20px;
    padding: 30px;
    height: auto;
}
.button{
    display: block;
    height: 40px;
    background-color:#201a56;
    border-radius: 5px;
    color:#ffffff;
    text-transform: uppercase;
    width: 250px;
    margin: auto;
    font: inherit;
    margin-top: 20px;
    margin-bottom: 20px;
}
div .item_link{
    font-family: inherit;
    font-size: 18px;
    color: #201a56;
    text-align: center;
    margin-bottom: 10px;
}
#footer{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 90px;
    margin: auto;
    position: relative;
    border: dashed #AFB3B5;
    border-width: 1px 1px 0;
    border-radius: 5px 5px 0 0;
}
.foot-box1{
    padding:15px 10px 0 15px;
}
.foot-box2{
    font-weight: bold;

    color: #707070;
    font: 12px/14px arial;

}
.f-border {
    top: -2px;
    left: 20px;
    right: 20px;
    position: absolute;
    height: 3px;
    background: #AFB3B5;
}
.foot-box2 p a{
    color:#000000;
    text-decoration: none;
    font-weight: bold;
}
.foot-box2 p a:hover{
    color:#707070;
}