*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: auto;
    max-width: 1000px;
    background-color: rgba(234,239,242, 0.8);
}
@media (min-width: 320px){
    .container{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        min-height: 100vh;
    }
}

#header{
    display: flex;
    text-transform: uppercase;
    align-items: center;
    position: relative;
    color: #201a56;
    z-index: 2;
    background: linear-gradient(cornflowerblue,lightgoldenrodyellow);
}
#header:before {
       content: "";
       background: url('/img/phone1.jpg');
       opacity: 0.2;
       top: 0;
       left: 0;
       bottom: 0;
       right: 0;
       position: absolute;
       z-index: -1;
   }
.flex-box1{
    margin: auto;
    color: white;
}
.flex-box2{
    font: 32px 'Roboto', 'Times New Roman', 'Arial', sans-serif;
    color: #201a56;
    border-radius: 50px;
    padding:5px;
    margin-right: 20px;
    background-color: #EAEFF2CC;
    opacity: 0.8;
}
@supports (display: inline) {
    @media screen and (min-width: 768px) {
        .MainMenu {
            display: flex;
            margin-top: 10px;
            list-style: none;
            color: #707070;
            font: 12px/14px 'Arial';
        }
    }
}

ul .MainMenu li{
    display: inline;
}
.MainMenu li{

    padding: 10px 13px 0 14px;
    color: #707070;
    font: 12px/14px 'Arial';
}
.MainMenu li a{
    padding: 10px 8px;
    display: block;
    text-transform: uppercase;
    color: #707070;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}
.MainMenu li a:hover{
    background-color: #000000;
    color:#ffffff
}
@media screen and (min-width: 300px){

    form {
        padding: 20px;
        border-radius: 20px;
        margin: auto;
        background-color: #EAEFF2CC;
        box-shadow: 0px 8px 20px 2px #160d60;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', 'Times New Roman', 'Arial', sans-serif;
        max-width: 380px;
        max-height: 380px;
    }
}
.title{
    color: #201a56;
    text-align: center;
    padding-bottom: 25px;
}
input {
    height: 60px;
    min-width: 340px;
    font-size: 15px;
    line-height: 16px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    padding-left: 25px;
    margin-bottom: 10px;

}
input:focus{
    border: 1px solid #201a56;
}
.button{
    display: block;
    height: 40px;
    background-color:#201a56;
    border-radius: 5px;
    color:#ffffff;
    text-transform: uppercase;
    width: 250px;
    margin: auto;
    font: inherit;
    margin-top: 20px;
    margin-bottom: 15px;
}
#result,#result2 {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: inherit;
    margin: 10px 0;
    color:brown;
    max-width: 400px;
}
.valid {
    box-shadow: 0px 0px 5px 2px brown;
    border-radius: 5px;
}
.item_link {
    font-family: 'Roboto', 'Times New Roman', 'Arial', sans-serif;
    font-size: 16px;
    text-align: center;
    margin:auto;
    font-weight: bold;
    color: #201a56;
}
.item_link a{
    color: cornflowerblue;
    text-decoration: none;
}
.item_link a:hover {
    text-decoration: underline;
    color:#201a56;
}
footer{
margin-top: auto;
}
#footer{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: auto;
    position: relative;
    background: linear-gradient(lightgoldenrodyellow,cornflowerblue);
    z-index: 2;
}
#footer:before {
    content: "";
    background: url('/img/phone2.jpg');
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.foot-box1{
    padding:15px 10px 0 15px;
}
.foot-box2{
    font-family: 'Roboto', 'Times New Roman', 'Arial', sans-serif;
    color: #201a56;
    font-size: 15px;
    border: 1px solid #201a56;
    background-color: rgba(255, 255, 255, 0.47);
}
.foot-box2 p a{
    color:#000000;
    text-decoration: none;
    font-weight: bold;
}
.foot-box2 p a:hover{
    color:#707070;
}


