
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: auto;
    max-width: 1000px;
    background-color: rgba(234,239,242, 0.8);
}
@media (min-width: 320px){
    .container{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        min-height: 100vh;
    }
}
#header{
    display: flex;
    text-transform: uppercase;
    align-items: center;
    position: relative;
    color: #201a56;
    z-index: 2;
    background: linear-gradient(cornflowerblue,lightgoldenrodyellow);
}
#header:before {
    content: "";
    background: url('/img/phone1.jpg');
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.flex-box1{
    color: white;
}
.flex-box2{
    font: 32px 'Roboto', 'Times New Roman', 'Arial', sans-serif;
    color: #201a56;
    border-radius: 50px;
    padding:5px;
    margin-right: 20px;
    background-color: #EAEFF2CC;
    opacity: 0.8;
}
@supports (display: inline) {
    @media screen and (min-width: 768px) {
        .MainMenu {
            display: flex;
            margin-top: 10px;
            list-style: none;
            color: #707070;
            font: 12px/14px 'Arial';
        }
    }
}

ul .MainMenu li{
    display: inline;
}
.MainMenu li{

    padding: 10px 13px 0 14px;
    color: #707070;
    font: 12px/14px 'Arial';
}
.MainMenu li a{
    padding: 10px 8px;
    display: block;
    text-transform: uppercase;
    color: #707070;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}
.MainMenu li a:hover{
    background-color: #000000;
    color:#ffffff
}
@supports (flex-direction: column) {

    @media screen and (min-width: 770px) {
        .container-box {
            display: flex;
            flex-direction: row;
            margin-top:50px ;
        }
    }
}
.container-box2 h1,h2,h3,a,p {

    text-align: center;
    font-family: 'Roboto', 'Times New Roman', 'Arial', sans-serif;
    color: #201a56;
}
.flex-box3 {
    border-radius: 30px;
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    box-shadow: 0px 1px 4px 1px #160d60;
    width: 20%;

    position: fixed;
}

.privateO{
    border-bottom-style: solid;
    padding-bottom: 6px;
    font-size: 30px;
    font-weight: bold;
}
.leftSide{
    list-style: none;
    padding-top:15px;
}
.leftSide li a{
    text-decoration: none;
    color:white;
    font-size: 25px;
    padding: 5px 0 0 30px;
    text-align: center;
}
.leftSideLink:hover{
    text-decoration: underline;
}
div input, select, textarea{
    padding: 5px;
    margin: 5px;
    width: 60%;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color:#201a56;
    border-radius: 5px;
    color:#ffffff;
    text-transform: uppercase;
    width:30%;
    margin-bottom: 50px;
}

.container-box2{
    display: flex;
    text-align: justify;
    flex-direction: column;
    justify-items: center;
    align-items: flex-end;
    font-family: 'Roboto', 'Times New Roman', 'Arial', sans-serif;
    font-size: 15px;
    color: #201a56;
    max-width: 100%;
    margin-left: auto;
}
.container-box2 p{
    padding: 5px;
    text-align: justify;
    width: 60%;
}
.container-box h3 {
    text-align: center;
    margin-bottom: 5px;
    font-weight:700;
    font-size: 30px;
}
.req {
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}
.req p:hover{
    color:white;
    background-color: rgba(32,26,86, 0.4);
    border-radius: 20px;
    text-align: center;
    font-size: 23px;
    text-decoration: underline;
}
.flex_item_btn{
    display: flex;
    margin-top: 200px;
}
.item_btn {
    background-color: #201a56;
    border-radius: 5px;
    text-transform: uppercase;
    width: 100px;
    height: 30px;
    margin: auto;
    color: white;
    font-family: 'Roboto', 'Times New Roman', 'Arial', sans-serif;
    font-size: 16px;
}
table{
    display: flex;

    margin: 70px 0 0 30px;
    border-collapse: collapse;

}
td,th{
    height: 50px;
    border-top: 1px solid #dee2e6;

}
th{
    border-bottom: 2px solid #dee2e6;
    padding-right: 130px;
}

footer{
    margin-top: auto;
}
#footer{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: auto;
    position: relative;
    background: linear-gradient(lightgoldenrodyellow,cornflowerblue);
    z-index: 2;
}
#footer:before {
    content: "";
    background: url('/img/phone2.jpg');
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}
.foot-box1{
    padding:15px 10px 0 15px;
}
.foot-box2{
    font-weight: bold;
    color: #707070;
    font: 12px/14px arial;

}
.foot-box2 p a{
    color:#000000;
    text-decoration: none;
    font-weight: bold;
}
.foot-box2 p a:hover{
    color:#707070;
}


